.about-text {
    /* color: #fff; */
    font-size: 2.4rem;
    line-height: 2.2;
    text-align: left;
}

.background-image {
    /* background-image: url("../assets/OriginalLogoSymbol.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%; */
}

.heading {
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: 1.05;
    text-align: center;
    margin-bottom: 9.6rem;
    color: #333;
}

.services-list {
    color: #fff;
    font-size: 2.4rem;
    line-height: 2.2;
    text-align: left;
    text-transform: uppercase;
}